.row {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    line-height: 3.1rem;
}

.blocks {
    display: flex;
    justify-content: center;
}

.block-1 {
    display: flex;
    flex-direction: column;
    background-color: $box-color;
    margin-bottom: 3.5rem;
}

.block-1:not(:first-child) {
    margin-left: 3.5rem;
}


.picture {
    width: 100%;
}

.picture img {
    width: 100%;
    height: 100%;
}

.data {
    padding: 2rem;
}

.data-row {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
}




.developers {
    display: flex;
    justify-content: space-between;
    padding: 1.1rem 2rem 1rem 2rem;
    border-top: 1px solid black;

}

.dev-left {
    display: flex;
    justify-content: center;
    align-items: center;

    a img {
        border-radius: 50%;
    }

    span {
        font-size: 1.2rem;
        text-decoration: none;
        // text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 8px;
        padding-right: 5px;
    }

    a {
        font-size: 1.2rem;
    }

}

.dev-right {
    display: flex;
    align-items: center;

    span {
        color: white;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 1px 5px 0 5px;
        line-height: normal;
    }
}

.hm {
    background-color: #9FD2D6;
    margin-right: 3px;
    border-radius: 3.6rem;
}

.dev {
    background-color: #8154EF;
    margin-right: 3px;
    border-radius: 3.6rem;
}

.sotd {
    background-color: #FF4E4E;
    margin-right: 3px;
    border-radius: 3.6rem;
}

.mw {
    background-color: #FF8601;
    margin-right: 3px;
    border-radius: 3.6rem;
}

.info-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 42rem;
    background-color: white;
    margin-bottom: 3.5rem;

    & div {
        margin-bottom: 1.2rem;
    }
}

.info-content {
    padding-top: 3rem;
    padding: 2rem;
}

.info-button {
    display: flex;
    padding: 0 20px 20px 20px;
}

.info-button a {
    text-decoration: none;
    color: #A6ABAB;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 3.4rem;
    border: 1px solid #DBE0DF;
    padding: 0 2rem;
    line-height: 3.4rem;
    height: 3.4rem;
    transition: color 0.3s ease-in-out;

    &:hover {
        border-color: #49c5b6;
        color: #49c5b6;
    }
}

.view-btn {

    & a {
        font-size: 3rem;
        font-weight: 600;
        color: $color-button;
        text-decoration: none;
    }
}