.header {
  cursor: pointer;
  height: 523.89px;
  position: relative;
  width: 100%;
  background-repeat: unset;
  transition: ease-in-out 0.3s;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://static.dezeen.com/uploads/2020/01/whidbey-island-farm-mwworks-washington-usa_dezeen_hero-852x479.jpg);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(https://static.dezeen.com/uploads/2020/01/whidbey-island-farm-mwworks-washington-usa_dezeen_hero-852x479.jpg);
  }
}

.upp {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.upp__left {
  display: flex;
  align-items: center;
  flex: 1;
  color: white;

  & strong {
    margin-right: 8px;
    font-weight: 500;
    font-size: 1.7rem;
  }

  & span {
    font-size: 1.6rem;
    font-weight: 100;
  }
}

.share {
  & i:hover {
    color: $color-button;
    border: 1px $color-button solid;
  }

  & i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.4rem;
    width: 3.4rem;
    border: 1px $box-color solid;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    color: $box-color;
    font-size: 1.3rem;
  }
}

///// circle

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.title {
  margin-bottom: 1.5rem;
}

.title a {
  font-size: 3.8rem;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.sub-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

.sub-title span {
  font-weight: bold;
  color: #49c5b6;
}

.sub-title span:hover {
  color: white;
  transition: color 0.3s ease-in-out;
}

.circle {
  position: relative;
  display: flex;
  padding-top: 1rem;
  align-items: center;
  transition: all 0.3s;
}

.circle-oppacity circle:first-of-type {
  stroke-opacity: 0.3;
}

.style-design circle {
  stroke: #df6c4f;
}

.style-usability circle {
  stroke: #ecd06f;
}

.style-creativity circle {
  stroke: #3c948b;
}

.style-content circle {
  stroke: #1a99aa;
}

.style-mobile circle {
  stroke: #00fca3;
}

.box {
  position: relative;
  justify-content: center;

  & svg {
    display: block;
    transform: rotate(-90deg);
  }

  circle:nth-child(1) {
    stroke-width: 3px;
    // stroke: #00FCA3;
    // stroke-opacity: 0.3;
    stroke-dasharray: 238.76104;
    fill: none;
  }

  circle:nth-of-type(2) {
    animation: donut-show-4 900ms ease 0s 1 normal forwards running;
    stroke-dasharray: 238.76104;
    stroke-dashoffset: 40;
    stroke-width: 3px;
    fill: none;
    // stroke: #00FCA3;
  }
}

.percent {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  transform: translateY(-50%);
}

.int {
  padding-left: 5px;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.dec {
  font-size: 15px;
  color: white;
  font-weight: 100;
}

.circle-word {
  padding-top: 10px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: whitesmoke;
}

.button {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 0;
  padding-left: inherit;
  z-index: 2;
}

.visit {
  display: flex;
  align-items: center;
  height: 3.4rem;
  border-radius: 3.4rem;
  background-color: $color-button;
  padding: 0 2rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $hover-button;
  }
}

.green {
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.white-btn {
  text-decoration: none;
  display: flex;
  color: white;
  font-weight: 500;
  align-items: center;
  height: 3.4rem;
  border-radius: 3.4rem;
  border: 1px solid #dbe0df;
  padding: 0 2rem;

  &:hover {
    border-color: #49c5b6;
    color: #49c5b6;
    transition: all 0.3s;
  }
}

.bottom-right {
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 0;
  padding-right: inherit;
  z-index: 2;
}

.box-svg {
  display: flex;

  &:hover > svg {
    fill: $hover-button;
  }

  &:hover > .button-svg {
    border-color: $hover-button;

    & a {
      color: $hover-button;
    }
  }
}

.button-svg {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 3.4rem;
  border: 1px solid white;
  margin-right: 2rem;
  margin-left: 2px;
  border-left: none;
  border-radius: 0px 34px 34px 0px;
}

.jury {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.photo {
  a > img {
    border-radius: 50%;
  }
}

.photo img:hover {
  opacity: 0.55;
  transition: all 0.3s ease-in-out;
}
