// this file for 
// colors
// box-shadow
// u-helper: like same paddings or margin

$background: #f4f7f6;
$color-border: #E6EAEA;
$color-button:#49c5b6;
$hover-button: #388077;
$text-black: #202121;
$text-hover: #64686A;
$box-color: #fcfcfc;




///////